@import "variables";

.btn-primary {
    background: linear-gradient(to right, #42C9D6, #2C616E) !important;
    color: $azul-claro-gelo !important;
    border: none !important;
    cursor: pointer !important;
    transition: background 2s ease-in-out;

    &:hover {
        background: linear-gradient(to right, #42C9D6, #20A2B4) !important;
    }
}
