//PALETA DE CORES
$azul-claro-gelo: #F2FAFA;
$azul-claro-esbranqueado: #DCECEC;
$azul-palido: #B5E1EA;
$azul-claro-esverdeado: #8FD9E8;
$azul-principal: #66D4E2;
$azul-esverdeado-escuro: #2D91A3;
$azul-escuro-frio: #4086A6;
$azul-profundo: #007EA7;
$azul-marinho: #004E6E;
$azul-petroleo-profundo: #235B6F;
$azul-escuro-preto: #0E2D3F;
$azul-marinho-escuro: #002A3E;
$azul-escuro-intenso: #051622;

//Fontes
$font-principal: Montserrat;
